button {
    padding: 10px 20px; /* Add padding */
    border: none; /* Remove border */
    background-color: #CFFA7C; /* Match the color theme */
    color: black; /* Text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 5px; /* Add 5px top margin */
    float: right; /* Right align the button */
    border-radius: 10px; 

}

.inputField {
    width: 100%; /* Make textarea fill the grid column */
    padding: 10px; /* Add some padding inside the textarea */
    border: 2px solid #000000; /* Black border */
    border-radius: 5px; /* Rounded corners for the textarea */
    background-color: #000000; /* Black background */
    color: #FFFFFF; /* White text */
    font-size: 16px;
    text-align: center; 
}

.inputField::placeholder {
    color: #FFFFFF; /* White placeholder text */
    font-size: 16px;
}

.profile-grid {
    align-items: center;
}

.form-table {
    width: 100%; /* Table takes the full width of the form-container */
    border-collapse: collapse; /* Collapses the border */
    
}
