<textarea placeholder="Username" class="inputField" id="usernameTextarea"></textarea>
<textarea placeholder="Email" class="inputField" id="emailTextarea"></textarea>
<textarea placeholder="Sexual Identity" class="inputField" id="sexualityTextarea"></textarea>
<textarea placeholder="Gender Orientation" class="inputField" id="genderTextarea"></textarea>
<textarea placeholder="Note About User" class="inputField" id="noteTextarea"></textarea>
<button (click)="getUsers()">Get Users</button>

<div id="addButtonFooter">
    <button id="showAdd" routerLink="/home-page">Go back home</button>
  </div>