<div class="profile-grid">
  <table class="form-table">
    <tr>
        <td>Name</td>
        <td><textarea placeholder="Username" class="inputField" id="usernameTextarea"></textarea></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><textarea placeholder="Email" class="inputField" id="emailTextarea"></textarea></td>
    </tr>
    <tr>
        <td>GI</td>
        <td><textarea placeholder="Gender Identity" class="inputField" id="genderTextarea"></textarea></td>
    </tr>
    <tr>
        <td>SO</td>
        <td><textarea placeholder="Sexual Orientation" class="inputField" id="sexualityTextarea"></textarea></td>
    </tr>
    <tr>
        <td>Note</td>
        <td><textarea placeholder="Note About User" class="inputField" id="noteTextarea"></textarea></td>
    </tr>
</table>
<button (click)="updateProfile()">Update Profile</button>
</div>

<div id="addButtonFooter">
  <button id="showAdd" routerLink="/home-page">Go back home</button>
</div> 