body {
    background-color: black;
}

#teamName{
    text-align: center;
    padding: 5px;
    font-size: 70px;
    color: white;
}

#tagline{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#addElement{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: #CFFA7C;
    border-width: thin;
    border-color: #CFFA7C;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#addButton{
    font-family: 'Roboto', sans-serif;
    background-color: #CFFA7C;
    color: black;
    border-radius: 10px;
    text-align: center;
    border: none;
    padding:5px 10px;
}
#addCancel{
    font-family: 'Roboto', sans-serif;
    background-color: #CFFA7C;
    color: black;
    border-radius: 10px;
    text-align: center;
    border: none;
    padding:5px 10px;
}

#deleteId{
    font-family: 'Roboto', sans-serif;
    background-color: #CFFA7C;
    color: black;
    text-align: center;
    border: none;
    padding:5px 10px;
}

#showAdd{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    background-color: #CFFA7C;
    color: black;
    padding:10px 20px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

#ideaList{
    font-family: 'Roboto', sans-serif;
    max-height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
    width: 50%;
    margin: auto;
}

table {
    table-layout: inherit;
    overflow-y: scroll;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    max-height: 399px;
}

/*
was having trouble getting rid of the borders around individual elements
*/
tr {
    font-size: 1.2em;
    color: white;
}

tr td {
  font-family: 'Roboto', sans-serif;
  padding: 15px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #CFFA7C;
}


/*
    these are to make the rows rounded
*/
tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.g-signin2{
    margin: auto;
    text-align: center;

}
