body {
    background-color: black;
}

#teamName{
    text-align: center;
    padding: 10px;
    font-size: 70px;
    color: white;
}

#tagline{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#addElement{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: #CFFA7C;
    border-width: thin;
    border-color: #CFFA7C;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#editElement{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: #CFFA7C;
    border-width: thin;
    border-color: #CFFA7C;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#addButtonFooter{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    background-color: #CFFA7C;
    color: white;
    padding:10px 20px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

#ideaList{
    font-family: 'Roboto', sans-serif;
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {

    border-collapse: separate;
    border-spacing: 0 0.5em;
}

tr {
    font-size: 1.2em;
    background-color: #CFFA7C;
}

tr td {
  font-family: 'Roboto', sans-serif;
  padding: 15px 20px;
}

tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/**
tr{
    border-spacing: 0;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: #CFFA7C;
    border-width: thin;
    border-color: #CFFA7C;
    border-style:solid;
    border-radius: 10px;
}


